/*
ПАЛИТРА САЙТА
Основной Цвет (ФОНЫ):
#1D1AB2	#323086	#0B0974	#514ED9	#7573D9
Вторичный Цвет A (ЭЛЕМЕНТЫ):
#540EAD	#502982	#340570	#8443D6	#9A6AD6
Вторичный Цвет B (ТЕКСТ):
#0B5FA5	#25547B	#043C6B	#3F8FD2	#66A1D2

ССЫЛКА ПАЛИТРЫ:
https://colorscheme.ru/#4051Tw0w0w0w0
*/

/*
Эта таблица стилей является основной для всех страниц на сайте.
 */

 /* Заметки
 - Задать флексы по запросу медиа для шапки
 - Решить проблему с отступом у data-time
 - Решить проблему с футером на странице с "Услугами"
 */

/* Настройка страницы */
html,
body {
  background:
    linear-gradient(155deg, #0b0974 50%, #514ED9) no-repeat, #323086;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* Ссылка и её анимация*/
a {
  color: #3F8FD2;
  text-decoration: none;
  transition: 250ms;
}

a:hover {
  color: #66A1D2;
  text-decoration: none;
  text-shadow:
    0px -4px 9px,
    0px 4px 9px;
}

/* Заголовки в блоке */
h2 {
  margin: 0.5% 1% 0.5% 1%;
  padding: 0.3% 0 0.3% 0;
  text-align: center;
  color: #0B5FA5;
  font-size: 2.5em;
  border-bottom: 3px solid #0B5FA5;
  font-weight: 400;
}

h3 {
  color: #0B5FA5;
  margin: 2% 0 1% 1%;
  font-size: 2em;
  font-weight: 400;
}

b {
  font-weight: bold
}

i {
  font-style: italic;
}

/* Шапка */
/*Шапка сайта*/
header {
  padding: 1%;
  margin-bottom: 4%;
  background:
    linear-gradient(75deg, #323086, #0b0974 35%, #323086) no-repeat,
    #514ed9;
  box-shadow: 0 4px 10px 0px;
  display: inherit;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

/* Настройка навигации */
header > ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Логотип*/
.logo {
  color: #66A1D2;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
}

/*Ссылка элементов навигации с анимацией*/
a.nav-link {
  transition: 200ms;
  color: #66A1D2;
  text-decoration: none;
}

a.nav-link:hover {
  transition: 200ms;
  text-shadow:
    0px -4px 9px,
    0px 4px 9px;
}


/* Стилизация фона, размера и отступов у блоков  */
/* Полностью стилизованый блок */
.block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0% 2% 0% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(180deg, #340570 40%, #502982);
}

/* Стилизированное начало блока */
.block-start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 540px; /* 85% = 870*/
  ~max-height: 870px;
  margin: 0% 2% 1% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(180deg, #340570 40%, #502982);
}

/* Стилизированная середина блока 1 */
.block-center-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 540px; /* 85% = 870*/
  ~max-height: 870px;
  margin: 0% 2% 1% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(1deg, #340570 40%, #502982);
}

/* Стилизированная середина блока 2 */
.block-center-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 540px; /* 85% = 870*/
  ~max-height: 870px;
  margin: 0% 2% 1% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(180deg, #340570 40%, #502982);
}

/* Стилизированный конец блока, если центр-1*/
.block-end-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px; /* 85% = 870*/
  ~max-height: 870px;
  margin: 0% 2% 0% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(180deg, #340570 40%, #502982);
}

/* Стилизированный конец блока, если центр-2*/
.block-end-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 500px; /* 85% = 870*/
  ~max-height: 870px;
  margin: 0% 2% 0% 2%;
  border-radius: 1% 1% 1% 1%;
  box-shadow: 8px 4px 10px -3px;
  background: linear-gradient(1deg, #340570 40%, #502982);
}

/* Текст постов */
p {
  margin: 1%;
  font-size: 1.3em;
  color: #66A1D2;
}

/* Дата публикации */
time {
  color: #0B5FA5;
  font-size: 1em;
}

/* Настройка картинок */
.preview-picture {
  margin: 1%;
  border-radius: 5px;
  height: 300px;
  width: 300px;
}

.portrait-picture {
  margin: 1% ;
  border-radius: 5px;
  height: 400px;
  width: 300px;
}



/* Обтекаемость (изначально для превью-картинок) */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*Бункер*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background:
    linear-gradient(45deg, #514ED9 50%, #514ED9) no-repeat,
    #514ed9;
  box-shadow: 0 -4px 10px 0px;
  margin-top: 4%;
  padding: 1%;
}

.toHeader {
  font-weight: bold;
}
