.site-blog
	+box
	flex-direction: column
	flex-basis: 80%
	flex-grow: 1
	margin: 1% 0.5% 1% 0

	article
		display: flex
		flex-direction: column
		time
			font-size: 10pt
			align-self: flex-end
			padding: 1% 0 1% 0
			margin: 1% 0 1% 0
