@media screen and (max-width: 720px)
	.site-header
		flex-direction: column

	.title
		+underline

		nav
			flex-direction: column

	.main-row
		display: -webkit-flex
		display: -ms-flex
		display: flex
		flex-direction: column

	.bottom-row
		flex-direction: column
