nav
	display: flex
	flex-basis: 100%
	align-items: center
	justify-content: space-around

.site-header
	+box
	align-items: center
	margin: 1% 0
	padding: 1% 5%

.title
	display: flex
	flex-basis: 60%
	align-items: center

.logo-img
	+image
	height: 64px
	width: 64px
	border: 1px solid black
	padding: 1%
	margin-right: 7%

.title-texts
	flex-direction: column

.tagline
	font-size: 12pt

.new-label
	font-size: 10pt
	font-weight: bold
	color: red
	text-shadow: 2px 2px gold
	vertical-align: super
	position: relative

.wip-label
	font-size: 10pt
	font-weight: bold
	color: purple
	text-shadow: 2px 2px pink
	vertical-align: super

.wip-label-as-second
	font-size: 10pt
	font-weight: bold
	color: purple
	text-shadow: 2px 2px pink
	vertical-align: sub
	position: relative
	right: 20%
