@import reset

@import mixins
@import common-tags

@import site-header
@import blog-section
@import projects-section
@import about-section
@import last-activity-section
@import site-footer

@import media720px

.keyword-mark
	display: inline-block
	font-family: "Courier New", serif
	background-color: whitesmoke
	border: 1px solid gray
	border-radius: 15px
	padding: 1%
	margin: 0.5% 0

.spoiler
	color: lightgray
	background-color: lightgray

.spoiler:hover
	color: black

.left-column, .right-column
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	margin: 1vh 0

.left-column
	margin-right: 0.5vh
	flex-basis: 75%

.right-column
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: column
	flex-basis: 25%
	flex-shrink: 0
	margin-left: 0.5vh
